---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    e2etests: "true"
  name: argocd
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    e2etests: "true"
  name: helm-secrets-private-keys
  namespace: argocd
stringData:
  keys.txt: |-
    ${ARGOCD_AGE_PRIVATE_KEY_CONTENT}

---
apiVersion: v1
kind: Secret
metadata:
  labels:
    e2etests: "true"
  name: helm-secrets-netrc
  namespace: argocd
stringData:
  netrc: |-
    machine raw.githubusercontent.com
    login ${ARGOCD_GITHUB_TOKEN}
    password
